{% load static %}

<a class="burger nav-trigger" href="javascript:;">
	<figure></figure>
	<figcaption>Menu</figcaption>
</a>


			
<nav id="modal-navigation" role="navigation">	

		<div id="modal-nav-header">
			<a id="modal-nav-logo" href="{% url 'home' %}">
				<img src='{% static "home/img/logo/butterfly-logo.png" %}' alt="" width="100px">
			</a>
			<a id="nav-close" class="close" href="javascript:;">
				<figure></figure>
				<figcaption>Close</figcaption>
			</a>
		</div>
	
		<div id="modal-nav-content">
			
<nav id="modal-nav-menu" class="column eight right" role="navigation">	
	<div id="primary-navigation">
		<div class="menu-main-navigation-container">
			<ul id="menu-main-navigation" class="menu">
				<li id="menu-item-1781" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1781"><a href="{% url 'home' %}">Home</a></li>
				<li id="menu-item-1781" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1781"><a href="{% url 'arangu' %}">Arangu</a></li>
				<li id="menu-item-443" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-443"><a href="{% url 'inter' %}">Inter Events</a></li>
			</ul> 
		</div>	
	</div>
	<div id="modal-search">
		
	</div>
</nav><!-- #primary-navigation -->
			
<nav id="modal-nav-utility" class="column eight">	
	
	<div id="welcome-message">
					<h3>A 3-DAY EVENT<br>YOU WON’T<br>WANT TO MISS!</h3>
					<p>Sanskriti is the National Art ad Cultural festival of Mar Athanasius College of Engineering which is held in three day, 19th the 20th, and 21st of March 2020.					</p>
			
	</div><!-- #welcome-message -->
	
	<div id="modal-social">
		
		<!-- SOCIAL MEDIA LINKS -->
	<ul class="social-nav">
					<li><a href="https://www.facebook.com/sanskritimace/" target="_blank"><i class="fa fa-facebook"></i></a></li>
					<li><a href="https://www.instagram.com/sanskriti.mace/" target="_blank"><i class="fa fa-instagram"></i></a></li>
					<li><a href="https://www.youtube.com/channel/UCIfBiir2xlGZnw82F7SneDQ" target="_blank"><i class="fa fa-youtube"></i></a></li>
					<li><a href="mailto:sanskriti@mace.ac.in"><i class="fa fa-envelope"></i></a></li>
				
	</ul>
	</div><!-- #modal-social -->
		
	<div id='site-credit'>
			<span>Website maintained by</span><br/>
			<span>Roshan & Melvin</span>
	</div> <!-- #site-credit-->
	
	
</nav><!-- #utlitly-navigation -->		</div> <!-- #modal-nav-content -->
		
</nav><!-- #modal-navigation -->